.icon {
  padding: var(--xy-rem-1q);
  line-height: 0;
  transition: all var(--speed-basic);
}
.icon > span {
  font-size: 0;
}
.icon svg {
  font-size: 1rem;
}

.primary {
  color: var(--color-white);
  background-color: var(--point-color-100);
}
.primary:hover {
  background-color: var(--point-color-95);
}
.gray {
  color: var(--color-white);
  background-color: var(--main-color-85);
}
.gray:hover {
  background-color: var(--main-color-80);
}

.circle {
  border-radius: 50%;
}
.circle.medium {
  padding: 0.375rem;
}
.circle.medium svg {
  width: 1rem;
  height: 1rem;
}
.circle.small {
  padding: 5px;
}
.circle.small svg {
  width: 12px;
  height: 12px;
}
