.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px var(--padding-x-01);
  background-color: var(--color-main01);
  border-bottom: 1px solid var(--color-main03);
}
.filters {
  display: flex;
  gap: 1rem;
}
.filters .filter .button {
  padding: 4px 0;
  font-family: var(--font-exbold);
  font-size: 0.95rem;
  color: var(--accent-color);
  text-transform: capitalize;
  transition: var(--transition01);
  opacity: var(--filter-opacity);
}
.filters .filter .button:hover,
.filters .filter.selected .button {
  opacity: 1;
}
.themeToggleBtn {
  display: block;
  flex: 0 0 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  color: var(--color-dark01);
  transition: var(--transition01);
}
.themeToggleBtn svg {
  display: block;
  width: 100%;
  height: 100%;
}
.themeToggleBtn:hover {
  transform: scale(1.2);
}
