@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');

:root {
  --font-exbold: 'NanumSquareNeoExtraBold';
  --font-bold: 'NanumSquareNeoBold';
  --font-regular: 'NanumSquareNeo';
  --color-white: #ffffff;

  --padding-x-01: 1rem;
  --padding-y-01: 1rem;
  --padding-x-02: 2rem;
  --padding-y-02: 2rem;

  --transition01: all 0.15s ease-out;
  --transition02: all 0.5s ease-out;

  /* -------- theme light -------- */
  --color-body-bg: #dedee3;

  --color-main01: #ffffff;
  --color-main02: #f4f4f4;
  --color-main03: #e9e9e9;

  --accent-color: #ee6812;

  --color-dark01: #414141;
  --color-dark02: #717171;
  --color-dark03: #b3b3b3;

  --text-color01: #222222;
  --text-color01-disable: #999999;
  --text-placeholder: #aaaaaa;
  --color-scrollbar-thumb: #d1d1d1;

  --filter-opacity: 0.6;
}
html.dark {
  /* -------- theme dark -------- */
  --color-body-bg: #4b4b59;

  --color-main01: #232332;
  --color-main02: #313244;
  --color-main03: #37384b;

  --accent-color: #ea7428;

  --color-dark01: #ffffff;
  --color-dark02: #eaeaea;
  --color-dark03: #a2a2af;

  --text-color01: #f2f2f2;
  --text-color01-disable: #7f819a;
  --text-placeholder: #aaaaaa;
  --color-scrollbar-thumb: #2a2a3c;

  --filter-opacity: 0.65;
}
* {
  box-sizing: border-box;
  line-height: 1;
  font-family: var(--font-regular), 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue';
}
body {
  margin: 0;
  font-family: var(--font-regular), 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  color: var(--text-color01);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: var(--padding-x-02) var(--padding-y-02);
  box-sizing: border-box;
  background-color: var(--color-body-bg);
  line-height: 1;
  accent-color: var(--accent-color);
}
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  max-width: 500px;
  max-height: 700px;
  min-width: 300px;
  min-height: 400px;
  background-color: var(--color-box-light);
  box-shadow: 11px 10px 32px -8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 11px 10px 32px -8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 11px 10px 32px -8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
input::placeholder {
  color: var(--text-placeholder);
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: var(--text-placeholder);
  opacity: 1;
}
input:-ms-input-placeholder {
  color: var(--text-placeholder);
  opacity: 1;
}
div,
p,
button,
ul,
li,
section,
header {
  margin: 0 0;
  padding: 0 0;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-main02);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
}
